# Create docker image for scStudio - Home
name: Build Docker Image (home)

on:
  push:
    branches:
      - main
    paths:
      - 'home/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_MB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_MB_PASS }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./home       
        file: ./home/Dockerfile  
        push: true
        tags: martabica/scstudio-home:1.1
